body {
  padding: 0;
  margin: 0;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  text-align: center;
  height:100vh;
  font-family: 'lato';
}

.loading{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%); 
}

.circle{
  width:20px;
  height:20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  transform-origin: 50%;
  animation: circle .4s alternate infinite ease-in-out;
}

@keyframes circle{
  0%{
      top:60px;
      height:5px;
      transform: scaleX(1.5);
  }
  50%{
      height:20px;
      border-radius: 50%;
      transform: scaleX(1);
  }
  100%{
      top:0%;
  }
}

.shadow{
  width:20px;
  height:4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top:62px;
  transform-origin: 50%;
  z-index: -1;
  filter: blur(1px);
  animation: shadow .4s alternate infinite ease-in-out;
}

@keyframes shadow{
  0%{
      transform: scaleX(1.5);
  }
  50%{
      transform: scaleX(1);
      opacity: .8;
  }
  100%{
      transform: scaleX(.2);
      opacity: .5;
  }
}
