body {
   padding: 0;
  margin: 0;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  text-align: center;
  height:100vh;
  font-family: 'lato';
}

.loading {
  font-weight: bold;
  font-size: 1.5em;
  color: #00ffff;
  position:absolute;
  top:50%;
  left:40%;
}

span {
  display: inline-block;
  position: relative;
}

.l {
  animation: loading 3s infinite 0.3s;
}

.o {
  animation: loading 3s infinite 0.6s;
}

.a {
  animation: loading 3s infinite 0.9s;
}

.d {
  animation: loading 2.9s infinite 1.2s

}

.i {
  animation: loading 2.8s infinite 1.5s;
}

.n {
  animation: loading 2.8s infinite 1.8s;
}

.g {
  animation: loading 2.8s infinite 2.1s;
}

@keyframes loading {
    50% {
       opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

