body {
   padding: 0;
  margin: 0;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  text-align: center;
  height:100vh;
  font-family: 'lato';
}

.loading {
  font-weight: bold;
  font-size: 1.5em;
  color: #00ffff;
  position:absolute;
  top:50%;
  left:40%;
}

span {
  display: inline-block;
  position: relative;
}

.l {
  animation: loading 3.2s infinite ease-in-out 0.2s;
}

.o {
  animation: loading 3.2s infinite ease-in-out 0.4s;
}

.a {
  animation: loading 3.2s infinite ease-in-out 0.6s;
}

.d {
  animation: loading 3.2s infinite ease-in-out 0.8s

}

.i {
  animation: loading 3.2s infinite ease-in-out 1.0s;
}

.n {
  animation: loading 3.2s infinite ease-in-out 1.2s;
}

.g {
  animation: loading 3.2s infinite ease-in-out 1.4s;
}

@keyframes loading {
    50% {
       opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

