body{
  padding: 0;
  margin: 0;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  text-align: center;
  height:100vh;
  font-family: 'lato';
  font-weight: 100;
}

.loading{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%); 
}

span{
  display: inline-block;
  width: 10px;
  height: 10px;
  animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
  #transform-origin: bottom center;
  position: relative;
}

@keyframes loading{
  0%{
    transform: translateY(0px);
    background-color: #ffffff;
  }
  50%{
    transform: translateY(30px);
    background-color: #00ffff;
  }
  100%{
    transform: translateY(0px);
    background-color: #0000ff;
  }
}

.box-1{
  animation-delay: 0.1s;
}
.box-2{
  animation-delay: 0.2s;
}
.box-3{
  animation-delay: 0.3s;
}
.box-4{
  animation-delay: 0.4s;
}
.box-5{
  animation-delay: 0.5s;
}
.box-6{
  animation-delay: 0.6s;
}
